   /*  navbar */
.logo {
    max-height: 50px;
    width: auto;
}

.navbar-nav {
        margin-left: auto;
    }

    @media (max-width: 767px) {
        .navbar-toggler {
        margin-left: auto;
        }
    
        .navbar-collapse {
        justify-content: space-between;
        }
    
        .collapse.navbar-collapse form {
        margin-left: auto;
        }
    }
     /*  navbar fin */

/* carrusel de deysi */ 

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Madimi+One&family=Satisfy&family=Shadows+Into+Light&display=swap');


header{
    background-color: #d4bbfc;
    width: 100%;
}

header ul {
    list-style: none;
    display: flex;
    
}

header ul li{
    margin: 25px;
    font-size: 28px;
    color: rgb(4, 4, 4);
    font-family: "Cinzel", serif;
    
}


img{
    width: 500px;
}

/**************************************/
/* Personaliza los botones de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 44px;
    height: 44px; 
    border-radius: 50%; 
    background-color: rgba(0, 0, 0, 0.5); 
    align-items: center; 
    justify-content: center; 
    display: flex; 
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); 
}

/* Centra el texto y ajusta el estilo en el carrusel */
.carousel-caption {
    text-align: center; 
    bottom: 20%; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1em; 
    border-radius: 0.5em; 
    max-width: 80%; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: "Cinzel", serif; 
}

    
    @media (max-width: 768px) {
    .carousel-caption {
        font-size: 0.9rem;
    }
    }


.carousel-item img {
    width: 100%; 
    height: 50vh;
    }

/* carrusel de daysi fin */ 

/* Card Luvid ********************/
    .card-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px; /* Ajusta este valor según la anchura deseada para el contenedor */
    }
    
    .card {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 16px;
        overflow: hidden;
        width: 30%; /* Cada tarjeta ocupará cerca de un tercio del ancho del contenedor */
        display: flex;
        flex-direction: column;
        }
    
    .card-img {
        width: 100%;
        height: auto;
    }
    
    .card h3 {
        margin: 16px; /* Añade espaciado alrededor del título */
    }
    
    .card p {
        margin: 0 16px 16px; /* Añade espaciado alrededor del párrafo */
    }
    
    .card button {
        margin: auto 16px 16px;
        padding: 8px 16px;
        background-color: #9667e0; /* Elige tu color */
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .card button:hover {
        background-color: #EBD9FC; /* Un color un poco más oscuro para el hover */
    }
    

/* Card Luvid  fin******************/
