body{
    background-color: rgb(242, 235, 251);

}

.presentacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quien p{
    display: flex;
    font-size: 18px;
}

.quien img{
    display: flex;
    width: 330px;
}

