   /*  navbar */
.logo {
    max-height: 50px;
    width: auto;
}

.navbar-nav {
        margin-left: auto;
    }

    @media (max-width: 767px) {
        .navbar-toggler {
        margin-left: auto;
        }
    
        .navbar-collapse {
        justify-content: space-between;
        }
    
        .collapse.navbar-collapse form {
        margin-left: auto;
        }
    }
     /*  navbar fin */

/* carrusel de deysi */ 

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Madimi+One&family=Satisfy&family=Shadows+Into+Light&display=swap');

header{
    background-color: #d4bbfc;
    width: 100%;
}

header ul {
    list-style: none;
    display: flex;
    
}

header ul li{
    margin: 25px;
    font-size: 28px;
    color: rgb(4, 4, 4);
    font-family: "Cinzel", serif;
    
}

img{
    width: 500px;
}
/**************************************/

/* Personaliza los botones de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
    width: 44px;
    height: 44px; 
    border-radius: 50%; 
    background-color: rgba(0, 0, 0, 0.5); 
    align-items: center; 
    justify-content: center; 
    display: flex; 
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); 
}

.carousel-caption {
    text-align: center; 
    bottom: 20%; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1em; 
    border-radius: 0.5em; 
    max-width: 80%; 
    left: 50%; 
    transform: translateX(-50%); 
    font-family: "Cinzel", serif; 
}

    
    @media (max-width: 768px) {
    .carousel-caption {
        font-size: 0.9rem;
    }
    }


.carousel-item img {
    width: 100%; 
    height: 70vh;
    }
/* carrusel de daysi fin */ 

/* ------------------------------ franja */
.franja {
    width: 100%;
    height: 3cm; /* Cambia este valor según necesites */
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.degradado {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ffffff, #9667e0, #b791e1);
}

.franja p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    position: absolute;
    white-space: nowrap;
    margin: 0;
    animation: moveLeft 35s linear infinite; /* ajusta la duración, el timing function y la iteración según necesites */
}

@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* -------------------fin franja */

/* conocenos-----------------------------  */ 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.presentacion {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e5c3f4;
}

.quien {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.imagen, .qs {
    flex: 1;
    padding: 20px;
}

.imagen img {
    max-width: 100%;
    height: auto;
}

.quien:nth-child(even) {
    flex-direction: row-reverse;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

/* conocenos----------------------------- fin */ 


/* Card Luvid ********************/
    .card-container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px; 
    }
    
    .card {
        background: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 16px;
        overflow: hidden;
        width: 30%; 
        display: flex;
        flex-direction: column;
        }
    
    .card-img {
        width: 100%;
        height: auto;
    }
    
    .card h3 {
        margin: 16px; 
    }
    
    .card p {
        margin: 0 16px 16px; 
    }
    
    .card button {
        margin: auto 16px 16px;
        padding: 8px 16px;
        background-color: #9667e0; 
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .card button:hover {
        background-color: #EBD9FC; 
    }
/* Card Luvid  fin******************/


/* Calculadora Damaris ********************/

.container_uno{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./assets/estrellas/strart2.jpg');
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 

    }

    .calculator-container {
        background: rgba(255, 255, 255, 0.9);
        background: #ffffff; 
        border: 2px solid #eaeaea; 
        border-radius: 10px; 
        padding: 20px; 
        margin-top: 20px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        display: inline-block; 
    }
    
    h1 {
        color: #333; 
        margin-bottom: 1em; 
    }
    
    .form-container input[type="text"],
    .form-container input[type="date"] {
        font-size: 16px;
        padding: 10px; 
        margin-bottom: 10px; 
        border: 1px solid #F2EBFB; 
        border-radius: 5px; 
        width: calc(100% - 22px);
    }
    
    .form-container button {
        width: 100%;
        padding: 10px 0; 
        background-color: #9667E0; 
        color: white; 
        border: none;
        border-radius: 5px; 
        cursor: pointer; 
        font-size: 16px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }
    
    .form-container button:hover {
        background-color: #D4BBFC; 
    }
    
    #result {
        margin-top: 20px;
        font-size: 18px; 
        color: #9667E0; 
    }

/* Calculadora Damaris fin ********************/

/********  icon *****************/
    .astronomy-services {
        display: flex;
        justify-content: space-around;
        background: #F2EBFB; 
        padding: 20px 0;
    }
    
    .astronomy-card {
        background: #EBD9FC; 
        color: #040404; 
        flex-basis: 24%; 
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 10px; 
        text-align: center; 
        transition: transform 0.3s ease; 
    }
    
    .astronomy-card:hover {
        transform: translateY(-10px); 
    }
    
    .icon-container {
        background: #D4BBFC; 
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: 0 auto 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .service-icon {
        max-width: 50%; 
        max-height: 50%;
    }
    
    h3 {
        margin: 10px 0; 
    }
    
    p {
        font-size: 0.9rem; 
        line-height: 1.6; 
    }
    
/************icon fin ********/







    .appointment-section {
        position: relative;
        width: 100%;
        height: 600px; /* Ajusta la altura según necesites */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./assets/estrellas/strart1.jpg'); /* Cambia a la ruta de tu imagen */
        background-size: cover;
        background-position: center;
        opacity: 0.8; /* Ajusta para que el formulario resalte sobre la imagen */
        z-index: -1; /* Coloca la imagen detrás del formulario */
    }
    
    .form-container {
        width: 70%; /* O el ancho que prefieras para tu formulario */
        background-color: rgba(255, 255, 255, 0.737); /* Semi-transparente para ver la imagen de fondo */
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 2; /* Asegura que el formulario esté sobre la imagen de fondo */
    }
    
    .form-container h2 {
        color: #9667E0;
        margin-bottom: 20px;
    }
    
    .form-container form {
        display: flex;
        flex-direction: column;
    }
    
    .form-container input,
    .form-container select,
    .form-container textarea {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #EBD9FC;
        border-radius: 4px;
    }
    
    .form-container button {
        padding: 15px;
        background-color: #9667E0;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .form-container button:hover {
        background-color: #D4BBFC;
    }
    