   /*  navbar */
.logo {
    max-height: 50px;
    width: auto;
}

.navbar-nav {
        margin-left: auto;
    }

    @media (max-width: 767px) {
        .navbar-toggler {
        margin-left: auto;
        }
    
        .navbar-collapse {
        justify-content: space-between;
        }
    
        .collapse.navbar-collapse form {
        margin-left: auto;
        }
    }
     /*  navbar fin */

/* carrusel de deysi */ 

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Madimi+One&family=Satisfy&family=Shadows+Into+Light&display=swap');


header{
    background-color: #d4bbfc;
    width: 100%;
}

header ul {
    list-style: none;
    display: flex;
    
}

header ul li{
    margin: 25px;
    font-size: 28px;
    color: rgb(4, 4, 4);
    font-family: "Cinzel", serif;
    
}


img{
    width: 500px;
}

/**************************************/
/* Personaliza los botones de navegación del carrusel */
.carousel-control-prev,
.carousel-control-next {
  width: 44px; /* Tamaño de los botones */
  height: 44px; /* Tamaño de los botones */
  border-radius: 50%; /* Los botones serán circulares */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para visibilidad */
  align-items: center; /* Centra el icono en el botón */
  justify-content: center; /* Centra el icono en el botón */
  display: flex; /* Permite usar flexbox para centrar el contenido */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Asegura que los iconos sean blancos para una mejor visibilidad */
}

/* Centra el texto y ajusta el estilo en el carrusel */
.carousel-caption {
  text-align: center; /* Centra el texto horizontalmente */
  bottom: 20%; /* Posición desde la parte inferior del carrusel */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la lectura */
  padding: 1em; /* Espaciado alrededor del texto */
  border-radius: 0.5em; /* Bordes redondeados */
  max-width: 80%; /* Máxima anchura del texto */
  left: 50%; /* Posición horizontal */
  transform: translateX(-50%); /* Centra la caja de texto respecto al carrusel */
  font-family: "Cinzel", serif; /* Fuente para el texto */
}

    /* Asegúrate de que el texto sea legible en pantallas pequeñas */
    @media (max-width: 768px) {
    .carousel-caption {
        font-size: 0.9rem;
    }
    }

/* Ajustes adicionales para imágenes si es necesario */
.carousel-item img {
  width: 100%; /* Asegura que la imagen cubra el ancho */
  height: 50vh; /* Mantiene la proporción de aspecto de la imagen */
}

/* carrusel de daysi fin */ 
